.array-bar{
    width: 6px;   

    margin: 0px 2px;
}

.body-container{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.sort-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
}