<div class="explanation-container">
    <div *ngIf="this.dataService.algo == 1">
        <div>
            Time Complexity: O(n*log(n))
        </div>
        <div>
            Space Complexity: O(n)
        </div>
    </div>
    <div *ngIf="this.dataService.algo == 2">
        <div>Time Complexity:
            Average Case: O(n*log(n))
            Worst Case: O(n^2)
        </div>
        <div>
            Space Complexity: O(log(n))
        </div>
    </div>

    <div *ngIf="this.dataService.algo == 3">
        <div>Time Complexity:
            O((n+b) * log(k))
            Where b is the base (10), and k is the maximum possible value in the array.
        </div>
        <div>
            Space Complexity: O(n+k)
        </div>
    </div>
    <div *ngIf="this.dataService.algo == 4">
        <div>Time Complexity: O(n^2)
        </div>
        <div>
            Space Complexity: O(1)
        </div>
    </div>
</div>