/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "src/app/colors.scss";
.nav-container{
    background-color: $base-dark;
}

body{
    background-color: $base-color;
}




.nav-tabs .nav-link.active{
    background-color: $accent-light;
}